src/power-apps/v0.9.x/v0.9.49/pkgs/Wadl/Standardapprovals.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://power-apis-usgov001-public.azure-apihub.us/apim/approvals" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Standardapprovals" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Standard approvals">Enables standard approvals in workflows.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://power-apis-usgov001-public.azure-apihub.us/apim/approvals" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ApprovalTypesList_value_def_items_def_Name_def" />
      <string name="ApprovalTypesList_value_def_items_def_DisplayName_def" />
      <object name="ApprovalTypesList_value_def_items_def">
        <property name="Name" type="string" />
        <property name="DisplayName" type="string" />
      </object>
      <array typeRef="ApprovalTypesList_value_def_items_def" name="ApprovalTypesList_value_def" />
      <object name="ApprovalTypesList">
        <property name="value" typeRef="ApprovalTypesList_value_def" />
      </object>
      <string name="ApprovalMetadata_name_def" />
      <string name="ApprovalMetadata_title_def" />
      <string name="ApprovalMetadata_x-ms-permission_def" />
      <untypedObject name="ApprovalMetadata_schema_def" />
      <untypedObject name="ApprovalMetadata_referencedEntities_def" />
      <object name="ApprovalMetadata">
        <property name="name" type="string" />
        <property name="title" type="string" />
        <property name="x-ms-permission" type="string" />
        <property name="schema" typeRef="ApprovalMetadata_schema_def" />
        <property name="referencedEntities" typeRef="ApprovalMetadata_referencedEntities_def" />
      </object>
      <string name="ApprovalCreationInputV0_NotificationUrl_def" />
      <string name="ApprovalCreationInputV0_title_def" />
      <string name="ApprovalCreationInputV0_details_def" />
      <string name="ApprovalCreationInputV0_itemLink_def" />
      <string name="ApprovalCreationInputV0_itemLinkDescription_def" />
      <string name="ApprovalCreationInputV0_assignedTo_def" />
      <object name="ApprovalCreationInputV0">
        <property name="NotificationUrl" type="string" />
        <property name="title" type="string" />
        <property name="details" type="string" />
        <property name="itemLink" type="string" />
        <property name="itemLinkDescription" type="string" />
        <property name="assignedTo" type="string" />
      </object>
      <string name="ApprovalCreationOutputV0_title_def" />
      <string name="ApprovalCreationOutputV0_details_def" />
      <string name="ApprovalCreationOutputV0_itemLink_def" />
      <string name="ApprovalCreationOutputV0_response_def" />
      <string name="ApprovalCreationOutputV0_comments_def" />
      <object name="ApprovalCreationOutputV0">
        <property name="title" type="string" />
        <property name="details" type="string" />
        <property name="itemLink" type="string" />
        <property name="responder" typeRef="ResponderPrincipal" />
        <property name="response" type="string" />
        <property name="comments" type="string" />
      </object>
      <string name="ResponderPrincipal_id_def" />
      <string name="ResponderPrincipal_displayName_def" />
      <string name="ResponderPrincipal_email_def" />
      <string name="ResponderPrincipal_tenantId_def" />
      <string name="ResponderPrincipal_userPrincipalName_def" />
      <object name="ResponderPrincipal">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="email" type="string" />
        <property name="tenantId" type="string" />
        <property name="userPrincipalName" type="string" />
      </object>
      <string name="WebhookTextSuggestionApprovalCreationInput_NotificationUrl_def" />
      <string name="WebhookTextSuggestionApprovalCreationInput_title_def" />
      <string name="WebhookTextSuggestionApprovalCreationInput_suggestedText_def" />
      <string name="WebhookTextSuggestionApprovalCreationInput_details_def" />
      <string name="WebhookTextSuggestionApprovalCreationInput_itemLink_def" />
      <string name="WebhookTextSuggestionApprovalCreationInput_itemLinkDescription_def" />
      <string name="WebhookTextSuggestionApprovalCreationInput_assignedTo_def" />
      <string name="WebhookTextSuggestionApprovalCreationInput_requestor_def" />
      <boolean name="WebhookTextSuggestionApprovalCreationInput_enableNotifications_def" />
      <boolean name="WebhookTextSuggestionApprovalCreationInput_enableReassignment_def" />
      <string name="WebhookTextSuggestionApprovalCreationInput_attachments_def_items_def_name_def" />
      <string name="WebhookTextSuggestionApprovalCreationInput_attachments_def_items_def_content_def" />
      <object name="WebhookTextSuggestionApprovalCreationInput_attachments_def_items_def">
        <property name="name" type="string" />
        <property name="content" type="string" />
      </object>
      <array typeRef="WebhookTextSuggestionApprovalCreationInput_attachments_def_items_def" name="WebhookTextSuggestionApprovalCreationInput_attachments_def" />
      <string name="WebhookTextSuggestionApprovalCreationInput_partnerMetadata_def" />
      <string name="WebhookTextSuggestionApprovalCreationInput_partnerId_def" />
      <object name="WebhookTextSuggestionApprovalCreationInput">
        <property name="NotificationUrl" type="string" />
        <property name="title" type="string" />
        <property name="suggestedText" type="string" />
        <property name="details" type="string" />
        <property name="itemLink" type="string" />
        <property name="itemLinkDescription" type="string" />
        <property name="assignedTo" type="string" />
        <property name="requestor" type="string" />
        <property name="enableNotifications" type="boolean" />
        <property name="enableReassignment" type="boolean" />
        <property name="attachments" typeRef="WebhookTextSuggestionApprovalCreationInput_attachments_def" />
        <property name="partnerMetadata" type="string" />
        <property name="partnerId" type="string" />
      </object>
      <string name="TextSuggestionApprovalCreationOutput_acceptedText_def" />
      <string name="TextSuggestionApprovalCreationOutput_name_def" />
      <string name="TextSuggestionApprovalCreationOutput_title_def" />
      <string name="TextSuggestionApprovalCreationOutput_details_def" />
      <string name="TextSuggestionApprovalCreationOutput_itemLink_def" />
      <string name="TextSuggestionApprovalCreationOutput_itemLinkDescription_def" />
      <string name="TextSuggestionApprovalCreationOutput_partnerMetadata_def" />
      <string name="TextSuggestionApprovalCreationOutput_partnerId_def" />
      <string name="TextSuggestionApprovalCreationOutput_requestDate_def" />
      <string name="TextSuggestionApprovalCreationOutput_responseSummary_def" />
      <string name="TextSuggestionApprovalCreationOutput_completionDate_def" />
      <string name="TextSuggestionApprovalCreationOutput_outcome_def" />
      <string name="TextSuggestionApprovalCreationOutput_responses_def_items_def_responder_def_id_def" />
      <string name="TextSuggestionApprovalCreationOutput_responses_def_items_def_responder_def_displayName_def" />
      <string name="TextSuggestionApprovalCreationOutput_responses_def_items_def_responder_def_email_def" />
      <string name="TextSuggestionApprovalCreationOutput_responses_def_items_def_responder_def_tenantId_def" />
      <string name="TextSuggestionApprovalCreationOutput_responses_def_items_def_responder_def_userPrincipalName_def" />
      <object name="TextSuggestionApprovalCreationOutput_responses_def_items_def_responder_def">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="email" type="string" />
        <property name="tenantId" type="string" />
        <property name="userPrincipalName" type="string" />
      </object>
      <string name="TextSuggestionApprovalCreationOutput_responses_def_items_def_requestDate_def" />
      <string name="TextSuggestionApprovalCreationOutput_responses_def_items_def_responseDate_def" />
      <string name="TextSuggestionApprovalCreationOutput_responses_def_items_def_approverResponse_def" />
      <string name="TextSuggestionApprovalCreationOutput_responses_def_items_def_comments_def" />
      <object name="TextSuggestionApprovalCreationOutput_responses_def_items_def">
        <property name="responder" typeRef="TextSuggestionApprovalCreationOutput_responses_def_items_def_responder_def" />
        <property name="requestDate" type="string" />
        <property name="responseDate" type="string" />
        <property name="approverResponse" type="string" />
        <property name="comments" type="string" />
      </object>
      <array typeRef="TextSuggestionApprovalCreationOutput_responses_def_items_def" name="TextSuggestionApprovalCreationOutput_responses_def" />
      <object name="TextSuggestionApprovalCreationOutput">
        <property name="acceptedText" type="string" />
        <property name="name" type="string" />
        <property name="title" type="string" />
        <property name="details" type="string" />
        <property name="itemLink" type="string" />
        <property name="itemLinkDescription" type="string" />
        <property name="partnerMetadata" type="string" />
        <property name="partnerId" type="string" />
        <property name="requestDate" type="string" />
        <property name="responseSummary" type="string" />
        <property name="completionDate" type="string" />
        <property name="outcome" type="string" />
        <property name="responses" typeRef="TextSuggestionApprovalCreationOutput_responses_def" />
      </object>
      <untypedObject name="StartAndWaitForAnApproval_param_WebhookApprovalCreationInput_def" />
      <untypedObject name="CreateAnApproval_param_ApprovalCreationInput_def" />
      <untypedObject name="CreateAnApproval_responses_201_def" />
      <untypedObject name="WaitForAnApproval_param_ApprovalSubscriptionInput_def" />
      <untypedObject name="approvalSubscribeV2_param_ApprovalCreationInput_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://power-apis-usgov001-public.azure-apihub.us/apim/approvals">
    <resource path="/{connectionId}/types/{approvalType}/subscriptions">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="approvalType" type="xs:string" required="true">
        <doc title="Select an approval type." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="StartAndWaitForAnApproval" actionName="StartAndWaitForAnApproval" siena:isDeprecated="false" siena:family="StartAndWaitForAnApproval" siena:revision="3" siena:status="Production">
        <doc title="Start and wait for an approval&#xA;Starts an automated approval and then waits for it to complete. The approval is cancelable." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="WebhookApprovalCreationInput" path="" type="service:StartAndWaitForAnApproval_param_WebhookApprovalCreationInput_def" required="true">
              <doc title="The dynamic webhook input for creating an approval of the specified type." />
            </param>
          </representation>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/types/textSuggestion/subscriptions">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="StartAndWaitForATextSuggestionApproval" actionName="StartAndWaitForATextSuggestionApproval" siena:isDeprecated="false" siena:family="StartAndWaitForATextSuggestionApproval" siena:revision="1" siena:status="Production">
        <doc title="Start and wait for an approval of text&#xA;Starts an automated text approval process and then waits for it to complete. The approval is cancelable." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="NotificationUrl" path="/NotificationUrl" type="xs:string" required="true" />
            <param style="plain" name="title" path="/title" type="xs:string" required="true" />
            <param style="plain" name="suggestedText" path="/suggestedText" type="xs:string" required="true" />
            <param style="plain" name="details" path="/details" type="xs:string" />
            <param style="plain" name="itemLink" path="/itemLink" type="xs:string" />
            <param style="plain" name="itemLinkDescription" path="/itemLinkDescription" type="xs:string" />
            <param style="plain" name="assignedTo" path="/assignedTo" type="xs:string" required="true" />
            <param style="plain" name="requestor" path="/requestor" type="xs:string" />
            <param style="plain" name="enableNotifications" path="/enableNotifications" type="xs:boolean" default="true" />
            <param style="plain" name="enableReassignment" path="/enableReassignment" type="xs:boolean" default="true" />
            <param style="plain" name="attachments" path="/attachments" type="service:WebhookTextSuggestionApprovalCreationInput_attachments_def" />
            <param style="plain" name="partnerMetadata" path="/partnerMetadata" type="xs:string" />
            <param style="plain" name="partnerId" path="/partnerId" type="xs:string" />
          </representation>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/types/{approvalType}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="approvalType" type="xs:string" required="true">
        <doc title="Select an approval type." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CreateAnApproval" actionName="CreateAnApproval" siena:isDeprecated="false" siena:isDynamicSchema="true" siena:family="CreateAnApproval" siena:revision="1" siena:status="Production">
        <doc title="Create an approval&#xA;Starts an automated approval, but does not wait for the approval to complete. The approval is cancelable." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="ApprovalCreationInput" path="" type="service:CreateAnApproval_param_ApprovalCreationInput_def" required="true">
              <doc title="The dynamic input for creating an approval of the specified type." />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:CreateAnApproval_responses_201_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/approvals/{approvalName}/subscriptions">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="approvalName" type="xs:string" required="true">
        <doc title="The ID of the approval." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="WaitForAnApproval" actionName="WaitForAnApproval" siena:isDeprecated="false" siena:family="WaitForAnApproval" siena:revision="1" siena:status="Production">
        <doc title="Wait for an approval&#xA;Waits for a specified approval to complete." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="ApprovalSubscriptionInput" path="" type="service:WaitForAnApproval_param_ApprovalSubscriptionInput_def" required="true">
              <doc title="The dynamic input for subscribing to an approval." />
            </param>
          </representation>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/types/{approvalType}/$subscriptions">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="approvalType" type="xs:string" required="true">
        <doc title="Select an approval type." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="approvalSubscribeV2" actionName="approvalSubscribeV2" siena:isDeprecated="true" siena:family="StartAndWaitForAnApproval" siena:revision="2" siena:status="Production">
        <doc title="Start and wait for an approval (Deprecated)&#xA;Starts an automated approval and then waits for it to complete. The approval is only canceled on timeout. (Deprecated)" />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="ApprovalCreationInput" path="" type="service:approvalSubscribeV2_param_ApprovalCreationInput_def" required="true">
              <doc title="The dynamic input for creating an approval of the specified type." />
            </param>
          </representation>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/basic/$subscriptions">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="approvalSubscribe" actionName="approvalSubscribe" siena:isDeprecated="true" siena:family="StartAndWaitForAnApproval" siena:revision="1" siena:status="Production">
        <doc title="Start and wait for an Approve or Reject - First to respond approval (Deprecated)&#xA;Starts an automated approval and then waits for it to complete. The approval is only canceled on timeout. (Deprecated)" />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="NotificationUrl" path="/NotificationUrl" type="xs:string" required="true" />
            <param style="plain" name="title" path="/title" type="xs:string" required="true" />
            <param style="plain" name="details" path="/details" type="xs:string" />
            <param style="plain" name="itemLink" path="/itemLink" type="xs:string" />
            <param style="plain" name="itemLinkDescription" path="/itemLinkDescription" type="xs:string" />
            <param style="plain" name="assignedTo" path="/assignedTo" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_approvals" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>